<ion-view view-title="About">
	<div class="bar bar-header bar-assertive">
		<button class="button icon ion-navicon"></button>
		<h1 class="title">About</h1>
		<button class="button icon ion-beer"></button>
	</div>
	<ion-content  class="has-header has-footer">
		<div class="padding">
			<h1>sdsd</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<button class="button button-calm ">Save</button>
			<button class="button button-calm button-outline ">Save</button>
			<button class="button button-balanced button-outline icon-right ion-beer">Save</button>
			<div class="button-bar">
				<button class="button button-calm">asas</button>
				<button class="button">asas</button>
				<button class="button">asas</button>
				<button class="button">asas</button>
			</div>
		</div>
		<div class="list">
			<div class="item item-divider">
				Terrestres
			</div>
			<a class="item item-icon-left">
				<i class="icon ion-android-car"></i>
				Carro
				<span class="badge badge-energized">2</span>
			</a>
			<a class="item item-thumbnail-left">
				<img src="img/mike.png">
				<h2>Mike</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</a>
			<li class="item">
				Moto
			</li>
			<div class="item  item-divider">
				Acuatico
			</div>
			<li class="item">
				Carro
			</li>
			<li class="item">
				Moto
			</li>
		</div>

		<div class="card">
			<div class="item  item-divider">
				Acuatico
			</div>
			<div class="item item-text-wrap">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-balanced">
		<h1 class="title">Footer</h1>
	</div>
</ion-view>

