<ion-view view-title="Form">
	<div class="bar bar-header bar-assertive item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
    	<input type="search" placeholder="Search">
		</label>
		<button class="button button-clear">
    	Cancel
  	</button>
	</div>
	<ion-content class="has-header">
		<form>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Nickname</span>
					<input type="text" placeholder="digita aqui">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Nickname</span>
					<input type="text" placeholder="digita aqui">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Nickname</span>
					<input type="text" placeholder="digita aqui">
				</label>
				<label class="item item-input">
					<i class="icon ion-beer placeholder-icon"></i>
					<input type="text" placeholder="tu cerveza favorita">
				</label>
				<div class="item item-toggle">
					HTML5
					<label class="toggle">
						<input type="checkbox">
						<div class="track">
							 <div class="handle"></div>
						</div>
					</label>
				</div>
				<div class="item item-checkbox">
					<label class="checkbox">
						<input type="checkbox">
					</label>
					Si
				</div>
			</div>
			<div class="padding">
				<button class="button button-block">Enviar</button>
			</div>
		</form>
	</ion-content>
</ion-view>